.div-input{
    display: flex;
    justify-content: space-between;
    padding: 3px;
    input{
        border: none;
        border-radius: 3px;
        background-color: #d6c5d0c2;
        padding: 0 2px;
    }
}