
.custom-menu{
    background-color: #40cf40bd!important;
    padding: 1rem 1rem 2rem;
    font-size: 1.3rem;
    &-sub{
        background-color: #4deb4dec!important;
    }
}
.fa-icon{
    margin-right: 1rem;
    font-size: 1.5rem;
}