<button mat-icon-button [matMenuTriggerFor]="menu" aria-label="icon-button  menu">
    <!-- <mat-icon>more_vert</mat-icon> -->
    <!-- <fa-icon [icon]="fabars" aria-label="Menu du site" (click)="toggleMenu()"></fa-icon> -->
  <fa-icon [icon]="fabars" aria-label="Menu du site" ></fa-icon>
</button>

<mat-menu #menu="matMenu" class="custom-menu">
  <button mat-menu-item routerLink="/" routerLinkActive="active" >
    <span>Accueil</span>
  </button>
  <button mat-menu-item [mat-menu-trigger-for]="lessons">
    <span>Les Cours</span>
  </button>
  <button mat-menu-item routerLink="/back" routerLinkActive="active">
    <!-- <mat-icon>notifications_off</mat-icon> -->
    <span>Backend</span>
  </button>
</mat-menu>

 
  <mat-menu #lessons="matMenu" class="custom-menu-sub">
    <button mat-menu-item routerLink="/lessonsCategories" routerLinkActive="active">Tous</button>
    @for(lessonCat of lessonsCategories; track lessonCat.id){
      <button mat-menu-item 
            (click)="goToCategory(lessonCat.id)" >
                {{lessonCat.name | titlecase}} 
      </button>
      <!-- <button mat-menu-item 
            [routerLink]="['/lessonsCategories', lessonCat.id]" 
            routerLinkActive="active" >
                {{lessonCat.name | titlecase}} {{lessonCat.id}}
      </button> -->
    }

  </mat-menu>


   <!-- <mat-menu #lessons="matMenu">
    <button mat-menu-item routerLink="/lessons" routerLinkActive="active" >
      <span>Yoga</span>
    </button>
    <button mat-menu-item routerLink="/lessons" routerLinkActive="active" >
      <span>Karaté</span>    
    </button>
    <button mat-menu-item routerLink="/lessons" routerLinkActive="active" >
      <span>Judo</span>
    </button>
    <button mat-menu-item routerLink="/lessons" routerLinkActive="active" >
        <span>Méditation</span>
    </button>       
  </mat-menu> -->
  