
<table border="1">
    <thead>
      <tr>
        <th>ID</th>
        <th>Cours</th>
        <th>Durée</th>
        <th>Date</th>
        <th>Prix (€)</th>
        <th>Places disponibles</th>
        <th>Modifier</th>
        <th>Supprimer</th>
      </tr>
    </thead>
    <tbody>
      @for(lesson of lessons; track lesson.id){
        <tr>
          <td>{{ lesson.id }}</td>
          <td>{{ CategoryMap[lesson.idCategory] }}</td>
          <td>{{ lesson.duration }}</td>
          <td>{{ lesson.date | date: 'short' }}</td>
          <td>{{ lesson.price }}</td>
          <td>{{ lesson.nbMaxUsers }}</td>
          <td>
            <app-button-modify (buttonClicked)="onEditLesson(lesson.id)"></app-button-modify>
          </td>
          <td>
            <app-button-delete></app-button-delete>
  
          </td>
        </tr>
      }
    </tbody>
</table>

      <div class="test">
      
        <form #form="ngForm" (ngSubmit)="onSubmitLesson()" *ngIf="isShowForm">
            <legend>{{ editLesson.id !== -1 ? 'Modifier' : 'Nouveau client' }}</legend>
            <label for="category">Cours</label>
                <select id="category" [(ngModel)]="editLesson.idCategory" name="idCategory" >
                  <!-- <option *ngFor="let cat of lessonsCategories" [value]="cat.id">
                    {{ CategoryMap[cat.id]}}
                  </option> -->
                  @for(cat of lessonsCategories; track cat.id){
                    <option [ngValue]="cat.id" >
                      {{ CategoryMap[cat.id]}}
                    </option>
                  }
                </select>
            <label for="duration">Durée en min</label>
            <input type="number" [(ngModel)]="editLesson.duration" name="duration" id="duration" placeholder="Durée en mn">
            <input type="date" [(ngModel)]="inputDate" name="date" >
            <input type="time" [(ngModel)]="inputTime" name="time" >
            <input type="number" [(ngModel)]="editLesson.price" name="price" placeholder="Prix en euros">
            <input type="number" [(ngModel)]="editLesson.nbMaxUsers" name="nbMaxUsers" placeholder="Nombre de places">
            <input type="submit" value="Valider">
        </form>
    </div>
      <!-- <tr *ngFor="let lesson of lessons">
        <td>{{ lesson.id }}</td>
        <td>{{ CategoryMap[lesson.idCategory] }}</td>
        <td>{{ lesson.duration }}</td>
        <td>{{ lesson.date | date: 'short' }}</td>
        <td>{{ lesson.price }}</td>
        <td>{{ lesson.nbMaxUsers }}</td>
        <td>
          <app-button-modify (buttonClicked)="onEditLesson(lesson.id)"></app-button-modify>
        </td>
        <td>
          <app-button-delete></app-button-delete>

        </td>
      </tr>
    </tbody>
  </table> -->

  <!-- <table border="2">
    <thead>
      <tr>
        <th>ID</th>
        <th>Nom</th>
        <th>name</th>
        <th>description</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let lessonCat of lessonsCategories">
        <td>{{ lessonCat.id }}</td>
        <td>{{ lessonCat.name }}</td>
        <td>{{ lessonCat.description }}</td>
        
      </tr>
    </tbody>
  </table> -->
 