<section class="vertical">
    <div class="sidebar">
        
            
        <div class="sidebar-item">
            <button (click)="handleCategories()" >
                Cours<br>(categories)
            </button>
        </div>

        <div class="sidebar-item">
            <button (click)="handleLessonsByCategory()" >
                Yoga
            </button>
            <!-- <ion-item slot="header" color="light">
                <ion-label>Clients</ion-label>
            </ion-item>
            <div class="ion-padding" slot="content">
                <a routerLink="/clients">Tous</a>
            </div>
            <div class="ion-padding" slot="content">Client 1</div>
            <div class="ion-padding" slot="content">Client 2</div> -->
        </div>

                <div value="sidebar-item">
                    <!-- <ion-item slot="header" color="light">
                        <ion-label>Ventes</ion-label>
                    </ion-item>
                    <div class="ion-padding" slot="content">
                        <a routerLink="/dvdstore/ventes" >Toutes</a>
                    </div>
                    <div class="ion-padding" slot="content">Aout</div>
                    <div class="ion-padding" slot="content">Septembre</div>
                    <div class="ion-padding" slot="content">Octobre</div> -->
                </div>
                        
     
        
            </div>
            
</section>
